<h1>About Comedy Bang! Bang!</h1>
<div class="about-banner">
  <img src="../assets/img/comedybangbang.jpg" alt="">
</div>
<p>Comedy Bang! Bang! (formerly Comedy Death-Ray Radio) is a weekly comedy audio podcast, which originally began airing as a radio show on May 1, 2009. It is hosted by writer and comedian Scott Aukerman, best known for his work on the 1990s HBO sketch comedy program Mr. Show with Bob and David.</p>
<p>Many notable people in the world of comedy, music, television and film have appeared on the podcast, including Paul F. Tompkins, "Weird Al" Yankovic, Aimee Mann, Jon Hamm, Aziz Ansari, Adam Scott, Patton Oswalt, Seth Rogen, Thomas Lennon, Zach Galifianakis, Ben Stiller, David Cross, Bob Odenkirk, St. Vincent, Sarah Silverman, Amy Poehler, James Adomian, Harris Wittels, Michael Cera, Tim Heidecker, Nick Kroll, Loudon Wainwright III, Matt Besser, Kevin Nealon, and Andy Daly.</p>
<p>Comedy Bang! Bang! was also a television series on IFC hosted by Scott Aukerman and featuring bandleader "Weird Al" Yankovic (formerly Reggie Watts and Kid Cudi).</p>

<h2>Format</h2>
<p>The show's format mixes conversation between the host and guests with comedy songs and occasionally game segments. Some guests play characters or impersonate certain celebrities, sometimes for the entirety of the episode. The show's most frequent guest Paul F. Tompkins has impersonated celebrities such as rapper Ice-T, directors Garry Marshall and Werner Herzog, actor John C. Reilly, composer Andrew Lloyd Webber, actor Alan Thicke, actor Danny Glover, Cake Boss's Buddy Valastro; other frequent guests such as James Adomian has played public television personality Huell Howser, Jesse Ventura, Paul Giamatti, Christopher Hitchens, actor Gary Busey, celebrity chef Gordon Ramsay, politician Bernie Sanders and food critic Merrill Shindler.
</p>

<h2>Games</h2>
<ul>
  <li><strong>Would You Rather?</strong> - in which the guests are presented with two typically absurd scenarios; following a brief question and answer session with answers made up on the spot by Aukerman, the contestants are asked to choose one of the options, with points given after each round.</li>
  <li><strong>Riddle Me This</strong> -  in which one person comes up with a question that is the setup for a joke. An example would be "What's brown and is often spotted near a fastfood restaurant?". The other contestants then come up with answers and vote whose answer was the funniest.</li>
  <li><strong>Freestyle Rap Battle/Contest</strong> - in which the guests take turns performing a freestyle rap.</li>
  <li><strong>What Am I Thinking?</strong> - in which two guests (or Scott) count down together from three and attempt to use word association to say the same word.</li>
  <li><strong>"Harris' Foam/Phone Corner"</strong> - in which Harris Wittels recited jokes, text-messaged to himself, which were deemed unworthy of his stand-up performances, and was ridiculed for his efforts.</li>
  <li><strong>"New No-Nos"</strong> - in which Paul Rust makes up new rules for life and the world; which he refers to as New No-Nos. Nearly every new rule is a ridiculous idea that can already be accomplished without consequence.</li>
</ul>
