.navbar
  background-color: #FFD401
  color: white
  margin-left: -8px
  margin-top: -8px
  width: 100vw
  display: flex
  justify-content: space-between
  align-items: center
  padding-left: 20px
  height: 80px
  a
    text-decoration: none
    color: white
    font-size: 40px
    font-family: 'Josefin Slab', serif
    font-weight: bolder
    text-shadow: 3px 3px #EE620F
  ul
    flex-direction: row
    display: flex
    padding-right: 20px
    li
      margin: 0 20px
      list-style-type: none

.microphone
  width: 50px
  :hover
    -webkit-filter: drop-shadow(3px 3px 0px #EE620F)
  filter: drop-shadow(3px 3px 0px #EE620F)
