<div class="admin-panel">
  <div class="panel-heading">
    <h3 class="panel-title">Admin Panel</h3>
  </div>

<table>
  <tr>
    <td><label>Character Name:</label>
      <br>
      <input #newName></td>
    <td><label>Character Appearances:</label>
      <br>
      <input #newAppearances></td>
    <td><label>Character Video URL:</label>
      <br>
      <input #newVideo></td>
    </tr>
    <tr>
      <td><label>Character Creator:</label>
        <br>
        <input #newComedian></td>
      <td><label>Character Image URL:</label>
        <br>
        <input #newImage></td>
      <td><label>Character Description:</label>
        <br>
        <textarea #newDescription></textarea></td>
    </tr>
</table>
    <h4>Add a Character:</h4>
      <button (click)="submitForm(newName.value, newAppearances.value, newVideo.value, newComedian.value, newImage.value, newDescription.value); newName.value=''; newAppearances.value=''; newVideo.value=''; newComedian.value=''; newImage.value=''; newDescription.value='';">Add</button>

</div>

<div>
  <app-marketplace></app-marketplace>
</div>
